@import url("https://fonts.googleapis.com/css2?family=Festive&family=Lekton&display=swap");

body {
  margin: 0;
  font-family: "Lekton", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #e6e2c3;
  color: #1c315e;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #227c70;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}

.navbar h2 {
  padding: 0rem 1rem 0.5rem 1rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  padding: 0.25rem 1rem 0.25rem 1rem;
  margin: 0.25rem 1rem 0.25rem 1rem;
  color: #1c315e;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: white;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  height: 100vh;
  width: 600px;
  background-color: #88a47c;
}

#home h1,
#home h3 {
  margin: 3rem auto 1rem auto;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.loading {
  text-align: center;
}

.task-box {
  display: flex;
  align-items: center;
  margin: 2rem auto 2rem auto;
  width: 500px;
  height: 75px;
  box-shadow: 1px 1px 5px black;
  color: black;
  text-decoration: none;
  background-color: #e6e2c3;
}

.task-preview-title {
  font-weight: 400;
  margin-left: 1rem;
}

.task-detail .card {
  margin-top: 8rem;
  height: 593px;
  width: 373px;
  background-color: #d9d9d9;
}

.task-detail .card > * {
  margin-left: 1rem;
}

.task-detail .card h2 {
  font-size: 48px;
}

.task-detail .card p {
  font-size: 20px;
}

.task-detail .content-wrapper {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-detail .content-wrapper button {
  font-size: 18px;
  border: none;
  height: 30px;
  width: 200px;
  background-color: #1c315e;
  color: #e6e2c3;
  box-shadow: 3px 3px 1px black;
}

.task-detail .content-wrapper button:hover {
  cursor: pointer;
}

.task-detail .content-wrapper button:active {
  transform: translate(3px, 3px);
  transition: transform 0.03s;
  box-shadow: none;
}

.create-task form {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-task form > * {
  margin: 0.75rem;
}

.create-task label {
  font-size: 18px;
}

#task-title-input {
  height: 24px;
  width: 250px;
  border: 1px solid black;
}

#task-title-input:focus {
  outline: none;
}

#task-description-input {
  height: 72px;
  width: 250px;
  border: 1px solid black;
}

#task-description-input:focus {
  outline: none;
}

.create-task button {
  font-size: 18px;
  margin: 3rem;
  border: none;
  height: 30px;
  width: 200px;
  background-color: #1c315e;
  color: #e6e2c3;
  box-shadow: 3px 3px 1px black;
}

.create-task button:hover {
  cursor: pointer;
}

.create-task button:active {
  transform: translate(3px, 3px);
  transition: transform 0.03s;
  box-shadow: none;
}

@media screen and (max-height: 720px) {
  .navbar {
    height: 90px;
    font-size: 24px;
  }

  .content-wrapper {
    height: 100vh;
    width: 450px;
  }

  .content-wrapper .task-box {
    width: 350px;
  }

  .content-wrapper .card {
    margin-top: 3rem;
    height: 493px;
    width: 273px;
  }

  .task-detail .card h2 {
    font-size: 32px;
  }

  .task-detail .card p {
    font-size: 16px;
  }
}
